.carousel {
  margin-top: 2%;
  width: 100%;
}

.CarouselImage {
  object-fit: cover;
  width: 100%;
}

h3 {
  margin-top: 5%;
  margin-left: 5%;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.3vmax;
}

.brandsDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  overflow-x: hidden;
  overflow-y: hidden;
  /* scroll-snap-type: x mandatory; */
  width: 76.5vw;
  margin-left: 12%;
  margin-top: 2vmax;
  /* scrollbar-gutter: stable; */
  box-shadow: 0px 0px 9px 0px #7f7272;
  border-radius: 5px;
  cursor: default;
}


.brandsDiv > div{
  display: flex;
  flex-direction: row;
  cursor: default;

}

.brandsDiv::-webkit-scrollbar {
  height: 5px;
}

.brandsDiv::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.brandsDiv::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.311);
  border-radius: 8px;
}

.brandsDiv::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.507);
}
.brandsContainer {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
  cursor: default;

  /* margin-right: 18vw; */
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }
  
  100% {
    transform: translate(-100%);
  }
}

.brandImg {
  /* margin-top: 5%; */
  display: flex;
  margin-right: 8vw;
  scroll-snap-align: center;
  width: 18vw;
}



.brandImg > img {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.479);
  border-radius: 3%;
  width: 18vw;
}

.productsDiv {
  display: flex;
  margin: 2vmax auto;
  width: 70vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  height: 110vh;
}
.scrollable{
  overflow-y: scroll;
}

.productsDiv::-webkit-scrollbar {
  width: 8px;
}

.productsDiv::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.productsDiv::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.311);
  border-radius: 8px;
}

.productsDiv::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.507);
}
@media screen and (max-width: 1000px) {
  .productsDiv {
    width: 70vw;
  }
}
@media screen and (max-width: 800px) {
  .brandImg {
    transform: scale(0.8);
    margin-left: 0%;
    margin-right: 3%;
  }
  .productsDiv {
    margin: 2vmax auto;
    width: 90vw;
  }
  .brandsDiv{
    overflow-x: scroll;
  }
  .brandsContainer{
    animation: none;
  }
  .brandsDiv::-webkit-scrollbar {
    display: none;
  }
}
@media screen and(max-width:375px) {
  .productsDiv {
    margin: 0;
  }
}
